
/* Universal Rules
-------------------------------------------------------------------------*/
h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  letter-spacing: -2px;
  color: #000;
  
  margin: 50px;
  font-size: 4em;
}

body {
  font-family: "Lato", sans-serif;
}

/* Home Page
-------------------------------------------------------------------------*/

.home-page {
  background-image: url('../images/Campus.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.home-grid {
  padding: 20px;
  margin: 10px 10%;
  font-size: .6cm;
}

.grid-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20%;
  /*TODO Remove padding for smaller screens*/
}
@media screen and (max-width: 450px) {
  .grid-nav {
    grid-template-columns: 1fr;
    padding: 0;
  }
}

/*Checkbox
-------------------------------------------------------------------------*/
input.save-cb-state { 
  width: 25px; 
  height: 25px; 
} 

/*Sidebar
-------------------------------------------------------------------------*/

div.sidebar {
    /* Issue where a scroll bar appears when the sidebar is closed. */
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #504f4f;
  display: block;
  transition: 0.3s;

}

.sidebar a:hover {
  color: #FB1D08;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  
}

.openbtn:hover {
  background-color: #444;
}

.sidenav {
  right: 0;
}


.content {
  border: 1px solid gray;
  margin: 10px 50px;
  margin-right: 250px;
  padding: 15px 50px 50px;
  z-index: 0;
  
}

.content > section{
  border-bottom: 1px dashed grey;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/*Simply puttting max-width is applied in reverse for some reason But only for the phone emulation*/
@media screen and (max-device-width: 800px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 50px;
  }

  .content {
    margin-right: 50px;
  }
  .openbtn {
    font-size: 35px;
    right: 8%;
    padding: 0;
  }
}

#btn{
  
}

@media screen and (max-width: 800px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 30px;
  }

  .content {
    margin-right: 50px;
  }

  .openbtn {
    font-size: 15px;
    padding: 0;
  }
}

/*More Information
-------------------------------------------------------------------------*/
.more-info {
 
  margin: 10px 10%;
  padding: 15px ;
}

.home-page > .video {
  display: inline-block;
  position: relative;
  width: 40%;
  padding: 0 10% 20%; 
}

.video {
  display: inline-block;
  position: relative;
  width: 40%;
  padding: 0 10% 50%; 
  
}

.video iframe {
  display: block;
  position: absolute;
  padding: 0 10%;
  /*margin: 0 10%;*/
  width: 100%;
  height: 100%;
}

.video-test {
  display: inline-block;
  position: relative;
  width: 60%;
  padding: 0 0 40%;
}

.video-test iframe {
  display: block;
  position: absolute;
  padding: 0 10%;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 450px) {
  .home-page > .video {
    display: block;
    width: 100%;
    padding: 0 0 60%;
    margin: 0;
  }

  .video iframe {
    margin: 10px;
    padding: 10px;
  }
}

										
/*Footer
-------------------------------------------------------------------------*/

.footer a {
  color: white;
}

div.footer {
  background-color: #5A595F;
  background-size: auto;
  background-clip: border-box;
  color: white;
  min-height: 100px;

  
  margin: 0;
  bottom: 0;
}

address {
  display: block;
  margin-bottom: 0;
  max-height: 100px;
}

.school {
  width: 20%;
  float: left;
    
}

/*Map
-------------------------------------------------------------------------*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
  float: left;
  width: 70%;
  height: 100%;
}
#right-panel {
  margin: 20px;
  border-width: 2px;
  width: 20%;
  height: 400px;
  float: left;
  text-align: left;
  padding-top: 0;
}
#directions-panel {
  margin-top: 20px;
  padding: 10px;
  border: black 10px;
}

/*@media screen and (max-width: )
/*Button
-------------------------------------------------------------------------*/
button.sidebar{
  position: fixed;
  right: 2%;
  bottom: 10px;
  width: 90px;
}

